<a href="https://colab.research.google.com/github/anhmaiusa/AnhMai/blob/main/Python_for_Accountant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas

In [ ]:
my_first_df = pandas.DataFrame()

In [ ]:
from pandas.core.frame import DataFrame
from pandas.io.formats.format import DataFrameFormatter
type(DataFrame)

type

In [ ]:
print(my_first_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
PnL = ['sales','COS','expenses','tax']
PnL_DF = pandas.DataFrame(PnL)
print(PnL_DF)

          0
0     sales
1       COS
2  expenses
3       tax

In [ ]:
PnL_list = [['sale', 50],['COS', 20], ['expenses', 5]]
PnL_listDF = pandas.DataFrame(PnL_list, columns=['Items','Amounts'])
print(PnL_listDF)

      Items  Amounts
0      sale       50
1       COS       20
2  expenses        5

In [ ]:
PnL_dict = {'year':[2021,2022,2023],'sale': [50,60,70],'COS': [20,30,35], 'expenses': [5,10,15]}
PnL_dictDF = pandas.DataFrame(PnL_dict, index = PnL_dict['year'], columns= ['sale','COS','expenses'])
print(PnL_dictDF)

      sale  COS  expenses
2021    50   20         5
2022    60   30        10
2023    70   35        15

In [ ]:
url = 'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/5000%20Sales%20Records.csv'
df = pandas.read_csv(url)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [ ]:
df['Region']

0       Central America and the Caribbean
1       Central America and the Caribbean
2                                  Europe
3                                    Asia
4                                    Asia
                      ...
4995                Australia and Oceania
4996         Middle East and North Africa
4997                                 Asia
4998                               Europe
4999                   Sub-Saharan Africa
Name: Region, Length: 5000, dtype: object

In [ ]:
df['Region'].unique()

array(['Central America and the Caribbean', 'Europe', 'Asia',
       'Middle East and North Africa', 'Australia and Oceania',
       'Sub-Saharan Africa', 'North America'], dtype=object)

In [ ]:
len(df['Region'].unique())

7

In [ ]:
df.loc[df['Region'] == 'Asia']

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
42,Asia,Laos,Meat,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
43,Asia,Kyrgyzstan,Snacks,Online,C,8/6/2013,727492606,9/22/2013,84,152.58,97.44,12816.72,8184.96,4631.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,Asia,Cambodia,Vegetables,Offline,L,10/3/2015,810026109,10/18/2015,3581,154.06,90.93,551688.86,325620.33,226068.53
4985,Asia,Laos,Cosmetics,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [ ]:
df.loc[4:5] #select the rows from index 4 to 5, if just 4 then [4] only

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88

In [ ]:
from pandas._libs import index
abc_list = [ 'a','b','c','d','e','f','g']
df_two = pandas.DataFrame(abc_list)

In [ ]:
df_two

   0
0  a
1  b
2  c
3  d
4  e
5  f
6  g

In [ ]:
df_two.loc[2] #follows the particular labels to get rows/columns

0    e
Name: 2, dtype: object

In [ ]:
df_two.iloc[2] #follow the sequential order, at integer locations to get rows/columns

0    c
Name: 30, dtype: object

In [ ]:
df_two.loc[2:3] #follow the sequential order, at integer locations to get rows/columns

   0
2  e
3  f

In [ ]:
df.loc[4:5] #select the rows from index 4 to 5, if just 4 then [4] only
test = pandas.DataFrame(df, index = [4,5], columns = ['Total Revenue','Total Cost'])
print(test)

   Total Revenue  Total Cost
4     1150758.36   734892.48
5        3923.04     2720.16

In [ ]:
df.loc[4:5, 'Order Date':'Total Revenue'] #select the rows from index 4 to 5, the columns from Order Date to Total Revenue

,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue
4,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36
5,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04

In [ ]:
df.set_index('Order ID', inplace=True)
df

,Region,Country,Sales Channel,Order Priority,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,
957081544,Central America and the Caribbean,Antigua and Barbuda,Online,M,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
301644504,Central America and the Caribbean,Panama,Offline,C,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
478051030,Europe,Czech Republic,Offline,C,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
892599952,Asia,North Korea,Offline,L,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
571902596,Asia,Sri Lanka,Offline,C,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...
217984473,Australia and Oceania,New Zealand,Offline,C,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
169748055,Middle East and North Africa,Azerbaijan,Offline,L,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
226939189,Asia,Myanmar,Offline,H,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
906794202,Europe,Finland,Online,L,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
996861922,Sub-Saharan Africa,Tanzania,Online,L,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [ ]:
df.rename({'Priority':'Updated Priority', 'Order Date':'Updated Date'}, axis = 'columns', inplace = True)
df

,Region,Country,Sales Channel,Updated Priority,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,
957081544,Central America and the Caribbean,Antigua and Barbuda,Online,M,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
301644504,Central America and the Caribbean,Panama,Offline,C,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
478051030,Europe,Czech Republic,Offline,C,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
892599952,Asia,North Korea,Offline,L,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
571902596,Asia,Sri Lanka,Offline,C,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...
217984473,Australia and Oceania,New Zealand,Offline,C,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
169748055,Middle East and North Africa,Azerbaijan,Offline,L,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
226939189,Asia,Myanmar,Offline,H,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
906794202,Europe,Finland,Online,L,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
996861922,Sub-Saharan Africa,Tanzania,Online,L,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50