<a href="https://colab.research.google.com/github/anhmaiusa/AnhMai/blob/main/Python_for_Accountant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas

In [3]:
my_first_df = pandas.DataFrame()

In [4]:
from pandas.core.frame import DataFrame
from pandas.io.formats.format import DataFrameFormatter
type(DataFrame)

type

In [5]:
print(my_first_df)

Empty DataFrame
Columns: []
Index: []

In [6]:
PnL = ['sales','COS','expenses','tax']
PnL_DF = pandas.DataFrame(PnL)
print(PnL_DF)

          0
0     sales
1       COS
2  expenses
3       tax

In [7]:
PnL_list = [['sale', 50],['COS', 20], ['expenses', 5]]
PnL_listDF = pandas.DataFrame(PnL_list, columns=['Items','Amounts'])
print(PnL_listDF)

      Items  Amounts
0      sale       50
1       COS       20
2  expenses        5

In [8]:
PnL_dict = {'year':[2021,2022,2023],'sale': [50,60,70],'COS': [20,30,35], 'expenses': [5,10,15]}
PnL_dictDF = pandas.DataFrame(PnL_dict, index = PnL_dict['year'], columns= ['sale','COS','expenses'])
print(PnL_dictDF)

      sale  COS  expenses
2021    50   20         5
2022    60   30        10
2023    70   35        15

In [9]:
url = 'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/5000%20Sales%20Records.csv'
df = pandas.read_csv(url)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [10]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [11]:
df['Region']

0       Central America and the Caribbean
1       Central America and the Caribbean
2                                  Europe
3                                    Asia
4                                    Asia
                      ...
4995                Australia and Oceania
4996         Middle East and North Africa
4997                                 Asia
4998                               Europe
4999                   Sub-Saharan Africa
Name: Region, Length: 5000, dtype: object

In [12]:
df['Region'].unique()

array(['Central America and the Caribbean', 'Europe', 'Asia',
       'Middle East and North Africa', 'Australia and Oceania',
       'Sub-Saharan Africa', 'North America'], dtype=object)

In [13]:
len(df['Region'].unique())

7

In [14]:
df.loc[df['Region'] == 'Asia']

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
42,Asia,Laos,Meat,Online,L,3/21/2017,734708821,3/24/2017,5522,421.89,364.69,2329676.58,2013818.18,315858.40
43,Asia,Kyrgyzstan,Snacks,Online,C,8/6/2013,727492606,9/22/2013,84,152.58,97.44,12816.72,8184.96,4631.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4984,Asia,Cambodia,Vegetables,Offline,L,10/3/2015,810026109,10/18/2015,3581,154.06,90.93,551688.86,325620.33,226068.53
4985,Asia,Laos,Cosmetics,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44

In [15]:
df.loc[4:5] #select the rows from index 4 to 5, if just 4 then [4] only

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88

In [16]:
from pandas._libs import index
abc_list = [ 'a','b','c','d','e','f','g']
df_two = pandas.DataFrame(abc_list)

In [17]:
df_two

   0
0  a
1  b
2  c
3  d
4  e
5  f
6  g

In [18]:
df_two.loc[2] #follows the particular labels to get rows/columns

0    c
Name: 2, dtype: object

In [19]:
df_two.iloc[2] #follow the sequential order, at integer locations to get rows/columns

0    c
Name: 2, dtype: object

In [20]:
df_two.loc[2:3] #follow the sequential order, at integer locations to get rows/columns

   0
2  c
3  d

In [21]:
df.loc[4:5] #select the rows from index 4 to 5, if just 4 then [4] only
test = pandas.DataFrame(df, index = [4,5], columns = ['Total Revenue','Total Cost'])
print(test)

   Total Revenue  Total Cost
4     1150758.36   734892.48
5        3923.04     2720.16

In [22]:
df.loc[4:5, 'Order Date':'Total Revenue'] #select the rows from index 4 to 5, the columns from Order Date to Total Revenue

,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue
4,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36
5,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04

In [23]:
df.set_index('Order ID', inplace=True)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
957081544,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
301644504,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
478051030,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
892599952,Asia,North Korea,Cereal,Offline,L,5/13/2010,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
571902596,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217984473,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
169748055,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
226939189,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
906794202,Europe,Finland,Clothes,Online,L,4/22/2014,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
996861922,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [24]:
df.rename({'Priority':'Updated Priority', 'Order Date':'Updated Date'}, axis = 'columns', inplace = True)
df

,Region,Country,Item Type,Sales Channel,Order Priority,Updated Date,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Order ID,,,,,,,,,,,,,
957081544,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
301644504,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
478051030,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
892599952,Asia,North Korea,Cereal,Offline,L,5/13/2010,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
571902596,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217984473,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
169748055,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
226939189,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
906794202,Europe,Finland,Clothes,Online,L,4/22/2014,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
996861922,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [25]:
!pip install yahoo_fin

Collecting yahoo_fin
  Downloading yahoo_fin-0.8.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (2.23.0)
Collecting requests-html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting feedparser
  Downloading feedparser-6.0.8-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 5.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from yahoo_fin) (1.3.5)
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->yahoo_fin) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->yahoo_fin) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->yahoo_fin) (1.24.3)
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 1.8 MB/s
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests-html->yahoo_fin) (0.0.1)
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.3)
Collecting websockets<11.0,>=10.0
  Downloading websockets-10.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (112 kB)
     |████████████████████████████████| 112 kB 44.4 MB/s
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 47.0 MB/s
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.0)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.2.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests-html->yahoo_fin) (4.6.3)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests-html->yahoo_fin) (4.2.6)
Building wheels for collected packages: fake-useragent, parse, sgmllib3k
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=038e3dc666aa1b6fbdf2c146051df957d095ee0d6bf3eaa3e2d1a1f01e59279e
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24591 sha256=f2bd827eeb0711cfa39487a84aea0098f2dc30fdecc1dc729544414dc2a7c085
  Stored in directory: /root/.cache/pip/wheels/9c/aa/cc/f2228050ccb40f22144b073f15a2c84f11204f29fc0dce028e
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=f96e6d23dc418e51177c1f640dc397932e550e78b72054f47b02fa0f5b4a3a0a
  Stored in directory: /root/.cache/pip/wheels/73/ad/a4/0dff4a6ef231fc0dfa12ffbac2a36cebfdddfe059f50e019aa
Successfully built fake-useragent parse sgmllib3k
Installing collected packages: websockets, urllib3, pyee, cssselect, w3lib, sgmllib3k, pyquery, pyppeteer, parse, fake-useragent, requests-html, feedparser, yahoo-fin
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cssselect-1.1.0 fake-useragent-0.1.11 feedparser-6.0.8 parse-1.19.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-1.4.3 requests-html-0.10.0 sgmllib3k-1.0.0 urllib3-1.25.11 w3lib-1.22.0 websockets-10.3 yahoo-fin-0.8.9.1

In [26]:
import yahoo_fin.stock_info as si
import pandas as pd
AMZN = si.get_quote_table('amzn')['1y Target Est'] #1y Target Est is from Yahoo finance stock site
print(AMZN)

4032.39

In [33]:
tickers = ['msft','aapl','tsla']
data = {}
for i in tickers:
  data[i] = si.get_quote_table(i)['1y Target Est'] #1y Target Est is from Yahoo finance stock site
stocks = pd.DataFrame(list(data.items()), columns= ['symbol','target'])
stocks

  symbol  target
0   msft  364.65
1   aapl  192.70
2   tsla  993.82